@import url('https://fonts.googleapis.com/css?family=Material+Icons&display=block');

div[role=toolbar] {
  display: flex;
  column-gap: 1rem;
}

.button-group {
  display: inline-flex;
  column-gap: 3px;
}

.button-group button {
  appearance: none;
  padding: 2px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #333333;
  color: #eeeeee;
}

mwc-icon {
  pointer-events: none;
}

.button-group button .icon {
  pointer-events: none;
}

.time-code {
  display: inline-flex;
  align-items: center;
}