<div role="toolbar" aria-label="Video player controls" aria-controls="player">
  <div class="button-group">
    <button type="button" aria-pressed="false" value="skip-back-long" (click)="onAction($event)">
      <mwc-icon class="icon" aria-hidden="true">fast_rewind</mwc-icon>
    </button>
    <button type="button" aria-pressed="false" value="skip-back" (click)="onAction($event)">
      <mwc-icon class="icon" aria-hidden="true">skip_previous</mwc-icon>
    </button>
    <button type="button" aria-pressed="false" value="play-pause" (click)="onAction($event)">
      @if (status.paused) {
        <mwc-icon class="icon" aria-hidden="true">play_arrow</mwc-icon>
      } @else {
        <mwc-icon class="icon" aria-hidden="true">pause</mwc-icon>
      }
    </button>
    <button type="button" aria-pressed="false" value="skip-forward" (click)="onAction($event)">
      <mwc-icon class="icon" aria-hidden="true">skip_next</mwc-icon>
    </button>
    <button type="button" aria-pressed="false" value="skip-forward-long" (click)="onAction($event)">
      <mwc-icon class="icon" aria-hidden="true">fast_forward</mwc-icon>
    </button>
  </div>
  <span class="time-code">{{timeCode}}</span>
</div>
