header {
  display: inline-flex;
  align-items: center;
  height: max-content;
  margin-bottom: 2rem;
}

header img {
  height: 2em;
  margin-right: 4px;
}

header h1 {
  margin: 0;
}

.player {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.side-by-side {
  display: flex;
  column-gap: 1rem;
  max-width: 100vw;
  max-height: 80vh;
}

.side-by-side .video-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex: 1;
  min-width: 0;
}

.side-by-side .video-container video {
  background: #000;
  min-width: 100px;
  flex: 1;
}

.video {
  display: flex;
  position: relative;
}

div[role=toolbar] {
  display: flex;
  column-gap: 1rem;
}

.button-group {
  display: inline-flex;
  column-gap: 3px;
}

.button-group button {
  appearance: none;
  padding: 2px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #333333;
  color: #eeeeee;
}

.button-group button .icon {
  pointer-events: none;
}

.time-code {
  display: inline-flex;
  align-items: center;
}
