<div class="side-by-side">
  <ap-audio-meter-basic #audioMeterRef [player]="player" [soloMuteEnabled]="true" [channelLabels]="channelLabels"></ap-audio-meter-basic>
  <div class="player-container">
  <div class="video-container">
      <video #masterRef id="player" crossOrigin="anonymous" (click)="togglePlay()"></video>
      <apc-controls #apcRef></apc-controls>

  </div>
  <toolbar-component [player]="player" [status]="status" [currentFrame]="currentFrame"></toolbar-component>
  </div>
</div>

