
.side-by-side {
  display: flex;
  column-gap: 1rem;
}
.player-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.video-container {
  display: flex;
  background: black;
  width: 100%;
  position: relative;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.75);
}
video {
  margin: auto;
  max-width: 100%;
  min-height: 0px;
  max-height: 100%;
}
