<template>
  <div className="player">
      <div className="side-by-side">
        <ap-audio-meter-basic ref="audioMeterRef"></ap-audio-meter-basic>
        <div className="video-container">
          <div className="video">
            <video id="player" ref="masterRef" crossOrigin="anonymous" @click="togglePlay"></video>
            <apc-controls ref="apcRef"></apc-controls>
          </div>
          <ToolbarComponent :player="player" :status="status" :currentFrame="currentFrame"></ToolbarComponent>
        </div>
      </div>
    </div>
</template>



<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { AudioScrubPlugin, ChannelControlPlugin, HotkeyPlugin, SmoothTimeUpdateEventType, SmoothTimeUpdatePlugin } from "@accurate-player/accurate-player-plugins";
import { PlayerEventType } from "@accurate-player/accurate-player-core";
import { ProgressivePlayer } from "@accurate-player/accurate-player-progressive";
import { ApAudioMeterBasic } from "@accurate-player/accurate-player-components-external";
import ToolbarComponent from './ToolbarComponent.vue'

ApAudioMeterBasic.register();

@Options({
  name: 'PlayerComponent',
  components: {
    ToolbarComponent
  },
  data() {
    return {
      masterRef: null,
      audioMeterRef: null,
      apcRef: null,
      player: null,
      status: null,
      currentFrame: 0
    }
  },
  methods: {
    togglePlay() {
      this.player?.api.togglePlay();
    }
  },
  mounted() {
    const master = this.$refs.masterRef;
    const apcControls = this.$refs.apcRef;
    // Create player
    const newPlayer = new ProgressivePlayer(master, window.LICENSE_KEY);
    // Load plugins
    new HotkeyPlugin(newPlayer);
    new SmoothTimeUpdatePlugin(newPlayer);
    new ChannelControlPlugin(newPlayer); // required by the audio meter
    new AudioScrubPlugin(newPlayer);
    // Load a video
    newPlayer.api.loadVideoFile({
      label: "Sintel (5.1)",
      src: "https://accurate-player-demo-assets.s3.eu-central-1.amazonaws.com/original/sintel-2048-surround.mp4",
      enabled: true,
      channelCount: 6,
      frameRate: {numerator: 24, denominator: 1},
      dropFrame: false,
    });
    newPlayer.on(PlayerEventType.StatusChanged, (event) => {
      this.status = event.status;
    });
    newPlayer.on(SmoothTimeUpdateEventType.TimeUpdate, (event) => {
      this.currentFrame = event.currentFrame;
    })
    this.player = newPlayer;

    // Init accurate player controls
    apcControls.init(
      master,
      this.player
    );

    const audioMeter = this.$refs.audioMeterRef;

    if (audioMeter != null) {
      if (this.player != null) {
        audioMeter.player = this.player;
        audioMeter.soloMuteEnabled = true;
        audioMeter.channelLabels = ["L", "R", "C", "LFE", "Ls", "Rs"];
      }
    }
  },
})
export default class PlayerComponent extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .player {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .side-by-side {
    display: flex;
    column-gap: 1rem;
    max-width: 100vw;
    max-height: 80vh;
  }

  .side-by-side .video-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: 1;
    min-width: 0;
  }

  .side-by-side .video-container video {
    background: #000;
    min-width: 100px;
    flex: 1;
  }

  .video {
    display: flex;
    position: relative;
  }
</style>
