<template>
  <div role="toolbar" aria-label="Video player controls" aria-controls="player">
    <div className="button-group">
      <button type="button" aria-pressed="false" value="skip-back-long" @click="(event) => onAction(event)">
        <mwc-icon class="icon" aria-hidden="true">fast_rewind</mwc-icon>
      </button>
      <button type="button" aria-pressed="false" value="skip-back" @click="(event) => onAction(event)">
        <mwc-icon class="icon" aria-hidden="true">skip_previous</mwc-icon>
      </button>
      <button type="button" aria-pressed="false" value="play-pause" @click="(event) => onAction(event)">
       <mwc-icon v-if="status?.paused" class="icon" aria-hidden="true">play_arrow</mwc-icon>
       <mwc-icon v-if="!status?.paused" class="icon" aria-hidden="true">pause</mwc-icon>
      </button>
      <button type="button" aria-pressed="false" value="skip-forward" @click="(event) => onAction(event)">
        <mwc-icon class="icon" aria-hidden="true">skip_next</mwc-icon>
      </button>
      <button type="button" aria-pressed="false" value="skip-forward-long" @click="(event) => onAction(event)">
        <mwc-icon class="icon" aria-hidden="true">fast_forward</mwc-icon>
      </button>
    </div>
    <span className="time-code">{{frameToSMPTE(currentFrame ?? 0, fps, videoFile?.dropFrame)}}</span>
  </div>
</template>


<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { frameToSMPTE, Player, PlayerStatus, SeekMode, TimeFormat } from "@accurate-player/accurate-player-core";
import "@material/mwc-icon";

@Options({
  name: 'ToolbarComponent',
  computed: {
    videoFile() {
      return this.player?.api.getActiveFile();
    },
    fps() {
      return this.videoFile ? this.videoFile.frameRate.numerator / this.videoFile.frameRate.denominator : 24
    }
  },
  methods: {
    frameToSMPTE: frameToSMPTE,
    onAction(event: MouseEvent) {
      const button = event.target as HTMLButtonElement;
      switch (button.value) {
        case "skip-back-long":
          this.player?.api.pause();
          this.player?.api.seek({
            time: 10,
            mode: SeekMode.RelativeBackward,
            format: TimeFormat.Frame
          });
          break;
        case "skip-back":
          this.player?.api.pause();
          this.player?.api.seek({
            time: 1,
            mode: SeekMode.RelativeBackward,
            format: TimeFormat.Frame
          });
          break;
        case "play-pause":
          this.player?.api.togglePlay();
          break;
        case "skip-forward":
          this.player?.api.pause();
          this.player?.api.seek({
            time: 1,
            mode: SeekMode.RelativeForward,
            format: TimeFormat.Frame
          });
          break;
        case "skip-forward-long":
          this.player?.api.pause();
          this.player?.api.seek({
            time: 10,
            mode: SeekMode.RelativeForward,
            format: TimeFormat.Frame
          });
          break;
        default:
          break;
      }
    }
  },
  props: {
    player: Object,
    status: Object,
    currentFrame: Number,
  },
})
export default class ToolbarComponent extends Vue {
  player!: Player
  status!: PlayerStatus
  currentFrame!: number
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Material+Icons&display=block');
  
  div[role=toolbar] {
    display: flex;
    column-gap: 1rem;
  }

  .button-group {
    display: inline-flex;
    column-gap: 3px;
  }

  .button-group button {
    appearance: none;
    padding: 2px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #333333;
    color: #eeeeee;
  }

  .button-group button .icon {
    pointer-events: none;
  }

  .time-code {
    display: inline-flex;
    align-items: center;
  }
</style>
