<template>
  <div class="App">
    <header>
      <img alt="Vue logo" src="./assets/logo.png">
      <h1>Vue</h1>
    </header>
    <PlayerComponent />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import PlayerComponent from './components/PlayerComponent.vue'
import "@accurate-player/accurate-player-components-external/dist/styles/theme-dark.css";
import "@accurate-player/accurate-player-controls";

@Options({
  name: 'App',
  components: {
    PlayerComponent
  }
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  padding: 2rem;
  background: var(--AP-BACKGROUND-BODY);
  color: var(--AP-FOREGROUND-0);
}

header {
  display: inline-flex;
  align-items: center;
  height: max-content;
  margin-bottom: 2rem;
}

header img {
  height: 2em;
  margin-right: 4px;
  padding: 0px 8px 0 8px;
}

header h1 {
  margin: 0;
}
</style>
